body {
    margin: 0px;
    padding-bottom: 50px;
    font-size: 100%;
    background: #EEEEEE;
    background-image: url('../img/bg.png');
    background-attachment: fixed;
}

#header {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 15;
}

/* Button */
#login,
#download,
#setting_switch {
    display: block;
    float: right;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 5px 5px 0px 0px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    background-image: url('../img/sprite.png');
    border-radius: 3px;
    -webkit-animation: setting 0.8s;
       -moz-animation: setting 0.8s;
        -ms-animation: setting 0.8s;
         -o-animation: setting 0.8s;
            animation: setting 0.8s;
}
#download {
    background-position: -262px -665px;
}
#setting_switch {
    background-position: -262px -553px;
}
#login {
    background-position: -262px -812px;
}
#login:hover,
#download:hover,
#setting_switch:hover,
#setting_switch.active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) inset;
}
#settings div.arrow,
#settings div.arrow:after {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #CCCCCC;
}
#settings div.arrow:after {
    content: '';
    position: absolute;
    top: -9px;
    left: -10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
}

/* Settings */
#settings {
    display: none;
    position: absolute;
    padding: 20px;
    right: 5px;
    top: 50px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    cursor: default;
    white-space: nowrap;
    font-family: Arial;
    font-size: 0.7em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
#settings.active {
    display: block;
}
#settings:after {
    content: '';
    position: absolute;
    top: 200%;
    left: 0px;
    width: 100%;
    height: 55px;
}
#settings div.row {
    margin-bottom: 20px;
}
#settings div.row:last-child {
    margin-bottom: 0px;
}
#settings span.label {
    width: 50px;
    display: inline-block;
}
#settings label {
    display: block;
    color: #000000;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#settings select,
#settings input[type=text],
#settings input[type=number] {
    margin: 0px;
    width: 200px;
    display: block;
    height: 30px;
    outline: none;
    padding: 0px 10px;
    border: 1px solid #CCCCCC;
    font-family: Arial;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#settings select {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
#settings input[type=text],
#settings input[type=number] {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
#settings select:focus,
#settings input[type=text]:focus,
#settings input[type=number]:focus {
    border-color: #AAAAAA;
}
#settings input[type=button] {
    float: right;
    margin: 0px;
    padding: 6px 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #064770;
    text-shadow: 1px 1px 0px #555555;
    background: #0F6FAA;
    background: -webkit-linear-gradient(top, #258ED2, #0F6FAA);
    background: -moz-linear-gradient(top, #258ED2, #0F6FAA);
    background: -ms-linear-gradient(top, #258ED2, #0F6FAA);
    background: -o-linear-gradient(top, #258ED2, #0F6FAA);
    background: linear-gradient(top, #258ED2, #0F6FAA);
    border-radius: 2px;
}
#settings input[type=button]:hover {
    background: -webkit-linear-gradient(top, #0F6FAA, #258ED2);
    background: -moz-linear-gradient(top, #0F6FAA, #258ED2);
    background: -ms-linear-gradient(top, #0F6FAA, #258ED2);
    background: -o-linear-gradient(top, #0F6FAA, #258ED2);
    background: linear-gradient(top, #0F6FAA, #258ED2);
}

/* Footer */
#footer {
    z-index: 1000;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    font-family: Arial;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
    background-color: #044059;
    -webkit-animation: footer 0.8s;
       -moz-animation: footer 0.8s;
        -ms-animation: footer 0.8s;
         -o-animation: footer 0.8s;
            animation: footer 0.8s;
}
#social {
    position: absolute;
    right: -50px;
    margin-top: 15px;
}
#social div.share {
    float: left;
}
#social div.share > iframe {
    width: 85px !important;
}
#demo_links {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 10px;
}
#demo_links a {
    outline: none;
    display: block;
    float: left;
    height: 100%;
    line-height: 50px;
    font-size: 0.6em;
    text-decoration: none;
    padding: 0px 10px;
    text-transform: uppercase;
    color: #888888;
}
#demo_links a:hover {
    background-color: #EEEEEE;
}
#demo_links a.active,
#demo_links a.active:hover {
    background-color: #0F6FAA;
    color: #FFFFFF;
    cursor: default;
}

@media screen and (max-width: 700px) {
    #social {
        display: none;
    }
}
@media screen and (orientation:portrait) {
    #social {
        display: none;
    }
}

@-webkit-keyframes setting {
    from {-webkit-transform: translateY(-50px);}
    to {-webkit-transform: translateY(0px);}
}
@-moz-keyframes setting {
    from {-moz-transform: translateY(-50px);}
    to {-moz-transform: translateY(0px);}
}
@-ms-keyframes setting {
    from {-ms-transform: translateY(-50px);}
    to {-ms-transform: translateY(0px);}
}
@-o-keyframes setting {
    from {-o-transform: translateY(-50px);}
    to {-o-transform: translateY(0px);}
}
@keyframes setting {
    from {transform: translateY(-50px);}
    to {transform: translateY(0px);}
}

@-webkit-keyframes footer {
    from {-webkit-transform: translateY(50px);}
    to {-webkit-transform: translateY(0px);}
}
@-moz-keyframes footer {
    from {-moz-transform: translateY(50px);}
    to {-moz-transform: translateY(0px);}
}
@-ms-keyframes footer {
    from {-ms-transform: translateY(50px);}
    to {-ms-transform: translateY(0px);}
}
@-o-keyframes footer {
    from {-o-transform: translateY(50px);}
    to {-o-transform: translateY(0px);}
}
@keyframes footer {
    from {transform: translateY(50px);}
    to {transform: translateY(0px);}
}