/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
*/

html, body {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.homepage {
    background-position: center center;
}

.homepage-container {
    .col-md-6 .well {
        height: 260px;
    }
    h3 {
        margin: 0px 0px 16px 0px;
    }
}

.homepage-banner {
    text-align: center;
    height: 500px;
    margin: -100px -15px 24px -15px;
    background-color: #DFDBE5;
    //background-image: url($triangles);
    h1 {
        margin: 0;
        padding: 250px 0 0 0;
        font-size: 6em;
        font-weight: bold;
        color: #FFF;
    }
    p.lead {
        text-transform: uppercase;
        color: #FFF;
    }
}

.entry-row {
    margin-bottom: 24px;
}

.site-wrapper {
    margin: 50px auto;
    min-height: calc(100% - 98px);
    padding: 24px 0;
    .container-fluid {
        .container {
            h1 {
                margin: 0;
            }
            .page-header {
                margin-bottom: 24px;
            }
        }
    }
}

.menu a {
    padding: 0 8px;
}

.profile-image {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #222;
    background-position: center center;
    background-size: cover;
}

/*
|--------------------------------------------------------------------------
| Nav
|--------------------------------------------------------------------------
*/

.user-tabs {
    margin-bottom: 24px;
}

/*
|--------------------------------------------------------------------------
| Calendar
|--------------------------------------------------------------------------
*/

.calendar {
    width: 100%;
    min-height: 100%;
}

    .calendar th {
        background-color: #DDD;
        padding: 8px;
    }

    .calendar td {
        vertical-align: top;
        padding: 8px;
        text-align: left;
        border: 1px solid #EEE;
        height: 160px;
        width: calc(100% / 7);
    }

    .calendar td .today {
        background-color: #DDD;
    }

    .calendar td .date {
        float: right;
        text-align: right;
        width: 100%;
    }
    .calendar td .content {
        float: right;
        width: 100%;
    }

.cal-link {
    margin-top: 24px;
}

.calendar-links {
    margin-bottom: 84px;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.footer {
    .nav-link {
        padding: 0 1rem;
    }
}
